.navbar{
    background-color: #031c40;
    background-image: linear-gradient(315deg, #9f06d1 30%, #391041 74%);
}
.nav-link:hover{
    background-color: #031c40;
    background-image: linear-gradient(315deg, #07add2 30%, #01535a 74%);
    color: rgb(183, 34, 74);


}
.navbar-brand:hover{
    background-color: #031c40;
    background-image: linear-gradient(315deg, #d8c302 30%, #ea9e05 74%);
    width: 9em;
    text-align: center;
}
#navlink{
    color: white;
}